*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}    

.content {
  display: flex;
  flex-direction: row;
  gap: 0 30px;
  width: 1140px;
  margin: 133px 30px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-top: 78px;
  margin-bottom: 16px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: fit-content;
  gap: 0 40px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  line-height: 21.6px;
}

.title {
  font-size: 75px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
  padding-bottom: 26px;
}

.content__video-card-title {
  font-size: 30px;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__card-link {
  display: block;
  text-decoration: none
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  color: #fff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-description {
  font-size: 18px;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 16.2px;
  color:#fff;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-x: hidden;
  padding: 2px;
}

li {
  margin-bottom: 30px;
}

li:first-child {
  margin-top: 0;
}

li:last-child {
  margin-bottom: 0;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.content__video-card-thumbnail {
  flex: 0 194px;
  height: 103px;
}

.content__video-card-description-container {
  flex: 200px 0;
}



.fieldset {
  outline: none;
}

.error {
  position: relative;
  }

.search-form__textfield {
  width: 225px;
  color: #fff;
  font-size: 18px;
  line-height: 21.6px;
  font-family: 'Fira Sans Condensed', sans-serif;
  background: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;
  cursor: pointer;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__fieldset{
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  gap: 0 5px;
}

.search-form__checkbox-list  {
  display: flex;
  gap: 0 15px;
}

button {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  min-height: 34px;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
  align-content: center;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  margin-top: 20px;
}

.more-button {
  width: 399px;
}

button:active {
  background-color: #545050;
}

button:hover {
  text-decoration: underline;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}


/* .content {
  display: flex;
  flex-direction: row;
  width: 1140px;
  gap: 0 30px;
  align-content: center;
  margin: 133px 30px;
}

.result__video-container {  
  width: 711px;
  height: 386px;
  margin-top: 78px;
  margin-bottom: 16px;
}

video {          
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {       
  width: 711px;
  display: flex;
  flex-direction: row;
  gap: 0 40px;
}

.search-form__fieldset-title { 
  font-family: 'Fira Sans Condensed', 'Aria' sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 400;
}

button {            
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
  min-height: 34px;
  padding: 0;
}

button:focus {    
  outline: none;
}

button:focus-visible {  
  outline: 1px solid #fff;
  outline-offset: 1px;
}

button:active {          
  background: #545050;
}

button:hover {
  text-decoration: underline;
  text-decoration-style: 3px;
  text-decoration-thickness: 1px;
}

.search-form__submit-button {
  margin-top: 20px;
}

.more-button {
  width: 399px;
}

.content__video-card-title {
  font-size: 30px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.content__card-link {
  display: block;
  text-decoration: none
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  color: #fff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-description {
  color: #fff;
  line-height: 16.2px;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', 'Aria', sans-serif;
}

.content__video-card {
  display: flex;
  flex-direction: row;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.search-form__checkbox-list  {
  display: flex;
  gap: 0 15px;
}

.search-form__checkbox:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.fieldset {
  border: none;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.search-form__submit-button {
  width: 194px;
}


h1 {                       
  font-size: 75px;
  font-family: 'Oswald';
  line-height: 70.5px;
  text-transform: uppercase;
}

.title {
  padding-bottom: 26px;
}



.content__list {
  overflow-x: hidden;
  height: 298px;
  padding: 3px 5px 2px 3px;
}

li {
  margin-bottom: 30px;
}

li:first-child {
  margin-top: 0;
}

li:last-child {
  margin-bottom: 0;
}

.content__accent {
  color: #545050;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.search-form__label input[type="checkbox"] + .search-form__pseudo-checkbox {
  content: " ";
  display: inline-block;
  width: 19px;
  height: 19px;
  background-color: #1b1919;
  outline: 1px solid #fff;
  border-radius: 0;
}

.search-form__label input[type="checkbox"]:checked + .search-form__pseudo-checkbox{
  content: " ";
  display: inline-block;
  width: 19px;
  height: 19px;
  outline: 1px solid #fff;
  outline-offset: 1px;
  background-color: #fff;
  border-radius: 0;
  vertical-align: baseline;
}

.search-form__label {
  width: fit-content;
display: flex;
flex-direction: row;
gap: 0 5px;
}

.search-form__textfield {
width: 225px;
color: #fff;
font-size: 18px;
min-height: 27px;
font-family: 'Fira Sans Condensed', sans-serif;
background: transparent;
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card-title {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.error {
position: relative;
}

.result__video-container {
  position: relative;
}

.content__list {
  position: relative;
}

*/